body {
	font-family: 'Raleway', sans-serif; /*Fav Fav*/
	background-color: #a5aad9;
	text-align: center;
}

.logo {
	font-family: 'Clicker Script', cursive;
	float: right !important;
	margin-top: 10px;
	margin-right: 10px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #c3ccaf !important;
	text-decoration: none;
}

div.nav-section {
	height: 3em;
}
